body {
  margin: auto;
  font-family: Roboto;
  max-width: 1600px;
}

.flex_row {
  display: flex;
}

header {
  background-color: #000;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  padding-inline: 13.9rem;
}

header>nav {
  flex-grow: 2;
  margin-inline-start: 3.9rem;
}

.logo {
  position: relative;
  font-size: 19px;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  color: #fff;
  width: 82px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 2px;
  margin-block: 0;
}

.logo>a>img {
  position: absolute;
  top: 44%;
  left: 12%;
}

ul {
  list-style-type: none;
  padding-inline-start: inherit;
}

nav>ul {
  /* margin-left: -144%; */
}

nav>ul>li {
  margin-inline-end: 6.5%;
}

nav>ul>li:nth-child(1)>a {
  color: #F9804B;
}

nav>ul>li:nth-child(1)>a :visited {
  pointer-events: none;
  cursor: default;
  color: #fff;
}

/* Section Watch Online */
.watch_online {
  width: 100%;
  background-image: url(../../assets/images/Giant_Panda.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.watch_circle {
  text-align: center;
  background-image: url(../../assets/images/Ellipse_main.png);
  background-repeat: no-repeat;
  background-position-x: 71%;
  background-position-y: 6%;
}

.mainTitle {
  width: 31%;
  color: #fff;
  margin: auto;
  padding-inline-start: 41.6%;
  padding-top: 5.375rem;
  font-size: 6.66rem;
  font-weight: 700;
  line-height: 75%;
  text-transform: uppercase;
}

.mainTitle>span {
  color: #ffee2e;
}

button {
  background-color: #f9804b;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38rem;
  text-transform: uppercase;
  width: 18.625rem;
  padding: 1rem 1rem;
  border: none;
  border-radius: 26px;
  cursor: pointer;
}

.watch_circle>button {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 10.44%);
  margin-block-start: 3.75rem;
  margin-block-end: 6.25rem;
  margin-inline-start: 42%;
}

button:hover,
.watch_circle>button:hover {
  background: #E47209;
}

button:active,
.watch_circle>button:active {
  background: #4B9200;
}

/* Backstage */
body>main>div.backstage.flex_row {
  background: url(../../assets/images/flower_backstage.png) no-repeat right;
  background-position-y: 10%;
  width: 100%;
}

.backstage {
  padding: 4.4% 0;
  justify-content: center;
  color: #333b41;
  margin-inline-end: -0.4%;
}

.back_st {
  font-size: 48px;
  font-weight: 400;
  line-height: 57.6px;
  margin: auto;
}

.backstage.flex_row>article {
  width: 29.3%;
  padding-inline-start: 5.9%;
}

.backstage>p {
  margin-block-start: 1.4rem;
}

p {
  font-size: 16px;
  line-height: 20.8px;
}

.backstage.flex_row>article>h3 {
  font-size: 24px;
  line-height: 28.8px;
  margin-block-start: 11.5%;
  margin-block-end: 7%;
}

.flex_row>article>p:nth-child(4) {
  line-height: 1.38rem;
}

/* Pets */
.pets {
  padding: 1.35% 14% 14.7%;
  display: grid;
  grid-template-columns: 31.8% 31.8% 31.8%;
  row-gap: 15px;
  column-gap: 30px;
  position: relative;
  background-image: url(../../assets/images/palm_foto.png), url(../../assets/images/strelitzia\ 1.png);
  background-repeat: no-repeat;
  background-position: 0 100%, 100% 100%;
}

.pets>div.an_card {
  border: 1px solid #f9804b;
  border-radius: 5px;
}

.fir,
.thr,
.fou {
  background-image: url(../../assets/icons/Banana.png), url(../../assets/icons/bamboo_green.png);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 95%;
}

.sec,
.fif,
.six {
  background-image: url(../../assets/icons/fish_icon.png), url(../../assets/icons/steak_icon.png);
  background-repeat: no-repeat;
  background-position: 98% 96.1%, 94% 95%
}

.an_img_cont {
  position: relative;
}

.an_card>div>img {
  width: 100%;
}

/* Card hover effect */
.an_img_cont:hover img {
  transform: scale(1.05);
  border-radius: 5px;
}

.an_img_cont:hover .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.05);
  opacity: 0.6;
  background: #000;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

.an_img_cont:hover .an_title {
  margin-block-start: 80%;
  font-weight: bold;
  color: #fff;
}

.an_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  margin-block-start: 1%;
  margin-block-end: -4.5%;
  margin-inline-start: 3.5%;
  text-transform: uppercase;
}

.an_small_txt {
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  margin-inline-start: 3.5%;
}

.b_left,
.b_right {
  position: absolute;
  top: 38%;
  width: 62px;
  height: 62px;
  padding: 0;
  border-radius: 100%;
}

.b_left {
  left: 8.7%;
}

.b_right {
  right: 8.7%;
}

.an_bottom {
  position: absolute;
  right: 40.5%;
  top: 86.4%;
}

/* Pick a Friend */
.pick_and_feed {
  background:
    linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding: 4.3% 13.7% 6.2%;
}

.pick_and_feed>article {
  height: 52.1%;
  text-align: center;
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  padding: 3.45% 3.45% 3.45% 8.61%;
}

.pick_title {
  font-size: 48px;
  line-height: 57.6px;
  color: #fe9013;
  font-weight: 400;
  padding-inline-end: 3.5rem;
  margin-block: 0 2rem;
}

.pick_p {
  font-size: 24px;
  line-height: 28.8px;
  color: #333B41;
  text-align: left;
}

.pick_small {
  color: #333b41;
  text-align: left;
  font-weight: 600;
  margin-block: 2.6rem 0;
}

.pick_smallest {
  color: #333b41;
  text-align: left;
  width: 84%;
  font-weight: 400;
  margin-block: 0.7rem 3.8rem;
}

.pick_smallest>a {
  color: inherit;
  text-decoration: underline 2px #E47209;
}

h3,
.pick_subt {
  font-size: 36px;
  line-height: 46.8px;
  color: #333b41;
  margin-inline-end: 3.5rem;
  margin-block-end: 1.4rem;
}

.figures {
  position: relative;
  justify-content: space-evenly;
  padding-inline-end: 3.7rem;
}

figure {
  width: 10.5rem;
  height: 244px;
}

figure>div>img {
  padding-block-start: 32%;
}

figure:nth-child(2)>div>img {
  padding-block-start: 22%;
}

figure:nth-child(3)>div>img {
  padding-inline-end: 7%;
  padding-block-start: 27%;

}

.pick_and_feed>article>button {
  margin-block: 4.2% 2%;
  margin-inline-end: 3.5rem;
}

.b_arrow {
  position: absolute;
  top: 27%;
}

.arr_left {
  left: 29%;
}

.arr_right {
  right: 34.9%;
}

.s_arrow {
  position: absolute;
  display: none;
}

/* Testimonials */
.testimonials {
  padding: 6.5% 13% 11.1%;
  background: url(../../assets/images/leaf.png) no-repeat;
  background-position: right bottom;
}

.testimonials>h3 {
  text-align: center;
  padding-inline-start: 5%;
}

section.testimonials>ul {
  padding-inline-start: initial;
  padding-block: 1%;
  margin-block-end: auto;
}

.t_text {
  border: 2px solid #E0D8F0;
  border-radius: 28px;
  width: 25%;
  height: 38%;
  padding: 0 16px;
  margin: 1.12%;
  background-color: #f1f3f2;
}

.t_card {
  align-items: center;
}

.ico_cont {
  margin-inline-end: 0.5rem;
}

.t_author {
  text-align: start;
}

.auth_name {
  margin-block: 0.7rem auto;
  font-weight: 400;
}

.t_text>p {
  color: #929699;
  height: 309px;
  line-height: 1.12rem;
  overflow: hidden;
  text-align: justify;
}

div.t_author>p:nth-child(2),
.t_text>p {
  margin-block: auto 10px;
}

.inter {
  border: 1px solid #e3ebe7;
  border-radius: 5px;
  background: #f5f7f6;
  width: 37.44rem;
  margin-block-end: 2rem;
  margin-inline-start: 24.45%;
}

.inter:hover {
  background: #4b9200;
}

.active {
  width: 18.3%;
  border: 3px solid #fE9013;
  background: #fE9013;
  border-radius: 5px;
}

#sq_button {
  border-radius: 4px;
  margin-inline-start: 1%;
}

/* footer */
footer {
  background-color: #111115;
  padding: 2.66% 13.7%;
  justify-content: space-between;
  color: #fff;
}

.foot_first_c {
  position: relative;
}

.foot_first_c>h5 {
  margin-block-start: auto;
}

.foot_first_c>button {
  padding: 8% 25%;
  border-radius: 4px;
}

.foot_first_c>ul {
  margin-block-start: 44px;
}

.soc {
  padding-block: 6px;
  padding-inline-start: 38px;
  margin-block-end: 1.2%;
}

.foot_first_c>ul>li:nth-child(1) {
  background-image: url(../../assets/icons/FB.png), url(../../assets/icons/Ellipse_grey.png);
  background-repeat: no-repeat;
  background-position: 10px 5px, 1px 1px;
}

.foot_first_c>ul>li:nth-child(2) {
  background-image: url(../../assets/icons/tw.png), url(../../assets/icons/Ellipse_grey.png);
  background-repeat: no-repeat;
  background-position: 7px 7px, 1px 1px;
}

.foot_first_c>ul>li:nth-child(3) {
  background-image: url(../../assets/icons/inst.png), url(../../assets/icons/Ellipse_grey.png);
  background-repeat: no-repeat;
  background-position: 6px 6px, 1px 1px;
}

.foot_first_c>ul>li:nth-child(4) {
  background-image: url(../../assets/icons/yt.png), url(../../assets/icons/Ellipse_grey.png);
  background-repeat: no-repeat;
  background-position: 6px 8px, 1px 1px;
}

.foot_second_p {
  position: relative;
}

.foot_second_p>h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  margin-block: 0 13px;
}

.m_in_st {
  margin-inline-start: 6%;
}

.don_button {
  display: inline-block;
  position: relative;
  width: 16.63rem;
  text-align: center;
  padding: 16px;
  margin-block-start: 25%;
  border-radius: 5px;
  text-transform: uppercase;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.don_button>p {
  margin-block: auto;
}

.don_button:hover {
  color: #d3cfcf;
  background: #E47209;
}

input[type='email']:invalid #submit {
  color: #920055;
  border: 3px dotted red;
}

input[type='email'] {
  padding: 10px;
  width: 228px;
  background-color: inherit;
  border: 1px solid;
  border-color: #fe9013;
  border-radius: 2px;
  color: #fff;
}

::placeholder {
  color: #fff;
  font-size: 16px;
}


#submit {
  color: #4b9200;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #4b9200;
  margin-inline-start: 10px;
  padding: 10px 39px;
  width: 129px;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
}

.des_abs,
.foot_nav {
  position: absolute;
}

.foot_nav {
  top: 85.5%;
  left: 135%;
}

.des_abs {
  top: 79%;
  left: 42%;
}

.crumb {
  margin-inline-end: 31%;
  white-space: nowrap;
}

.foot_second_p>div>div {
  width: max-content;
}

.designer>p {
  margin-block: 10px;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #f9804b;
}