header {
  padding-inline: 1.9rem;
}

nav>ul>li {
  margin-inline-end: 7%;
}

.mainTitle {
  width: 40%;
  padding-inline-start: 42.6%;
  padding-top: 2.8rem;
  font-size: 5.31rem;
}

@media (max-width:780px) {
  .mainTitle {
    /* width: 31%; */
    padding-inline-start: 24.6%;
    /* padding-top: 5.375rem; */
    font-size: 3.4rem;
    line-height: 2.54rem;
  }
}

.watch_online {
  /* width: 100%; */
  background-image: url(../../assets/images/Giant_Panda_sm.png);
  /* background-size: auto auto; */
}

.watch_circle {
  background-size: 37%;
  background-position-x: 72.5%;
  background-position-y: -7%;
}

.watch_circle>button {
  margin-block-start: 2.45rem;
  margin-inline-start: 43%;
  margin-block-end: 2.9rem;
}

.backstage {
  padding: 7.4% 0;
}

body>main>div.backstage.flex_row {
  background: none;
}

.man_image {
  width: 27.5rem;
  padding-inline-end: 1rem;
  padding-block-start: 2.1rem;
  overflow: hidden;
}

@media (max-width:830px) {
  .man_image {
    display: none;
  }

}

.man_image>img {
  height: 100%;
}

.backstage.flex_row>article {
  width: 46%;
  padding-inline-start: 2.3rem;
  padding-block-start: 3%;
}

.pets {
  row-gap: 5.6rem;
  padding: 0 3.05% 27.7%;
  column-gap: 2.8%;
  background-position: 0 100%, 101% 100%;
  background-size: 19.5%, 24.2%;
}

.an_title {
  margin-block-start: 0;
  margin-inline-start: 4.5%;
}

.an_small_txt {
  margin-inline-start: 4.5%;
  margin-block-start: 4%;
}

.b_left,
.b_right {
  top: 34%;
}

.b_left {
  left: 35.5%;
}

.b_right {
  right: 35%;
}

.an_bottom {
  right: 34.7%;
  top: 83.4%;
}

.pick_and_feed {
  padding: 3% 2.5% 5% 3%;
}

.pick_and_feed>article {
  padding: 2.85% 0 3.45% 5.3%;
}

.pick_title {
  margin-block: 0 1rem;
}

.pick_small {
  margin-block: -0.4rem 0;
  width: 95%;
}

.pick_smallest {
  width: 89%;
  margin-block: 0.7rem 2.5rem;
}

.figures {
  margin-inline-start: -5.2%;
  padding-inline-end: 0;
}

.b_arrow {
  position: absolute;
  top: 28%;
}

.arr_left {
  left: 30%;
}

.arr_right {
  right: 30.7%;
}

.pick_and_feed>article>button {
  margin-block: 6.2% 2%;
  margin-inline-end: 3rem;
}

.testimonials {
  padding: 6.5% 2% 14.1%;
  background-position: 101% 101%;
  background-size: 20%;
}

.testimonials>h3 {
  margin-inline-end: 2rem;
}

section.testimonials>ul {
  justify-content: space-between;
  padding-block: 0;
  margin-block-end: 0.8rem;
}

.testimonials>ul>li:nth-child(4) {
  display: none;
}

.t_text {
  width: 27%;
}

.inter {
  margin-block-end: 3.2rem;
  width: 24.38rem;
  margin-inline-start: 29%;
}

footer {
  padding: 4% 2.7%;
}

.soc {
  padding-inline-start: 41px;
}

.foot_nav {
  left: 99%;
}

.crumb {
  margin-inline-end: 26%;
}

.m_in_st {
  margin-inline-start: -8%;
}

input[type='email'] {
  width: 208px;
}

.des_abs {
  left: 37%;
}

@media (max-width:680px) {
  footer {
    padding: 2% 3%;
  }

  .don_button {
    margin-block: 10.7% 44%;
  }

  .foot_first_c>ul {
    position: absolute;
    top: 0;
    right: -107%;
  }

  .foot_first_c>ul>li {
    overflow: hidden;
    width: 0;
  }

  .foot_nav {
    left: 0;
  }

  .m_in_st {
    display: none;
  }

  .des_abs {
    top: 76%;
    left: -14.6rem;
  }
}